<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style/Week6/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="/assets/style/Week6/common.css">
  
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row justify-content-between align-items-center py-3 py-md-4 px-3 px-md-0">
        <div class="hamIcon d-md-none text-white">
          <span class="material-icons" id="openMenu">menu</span>
        </div>
        <div class="logo">
          <a class="h4" href="/">CRAFTsMAN</a>
        </div>
        <div class="d-md-none">
          <a href="#"><span class="material-icons text-white">shopping_cart</span></a>
        </div>
        <nav class="nav d-none d-md-block">
          <ul class="menu d-flex flex-row m-0">
            <li><a href="#">Product</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li>
              <a href="#"><span class="material-icons">shopping_cart</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="mobile-menu bg-white p-3" id="mobileMenu">
    <div class="d-flex justify-content-between">
      <a href="#"><span class="material-icons text-dark" id="closeMenu">keyboard_backspace</span></a>
      <a href="#"><span class="material-icons text-dark">shopping_cart</span></a>
    </div>
    <ul class="list-unstyled">
      <li class="main-list py-3 font-weight-bold">
        Product
        <ul class="list-unstyled mt-3">
          <li class="sub-list font-weight-normal py-2">ALL24</li>
          <li class="sub-list font-weight-normal py-2">BOWL10</li>
          <li class="sub-list font-weight-normal py-2">CUP8</li>
          <li class="sub-list font-weight-normal py-2">PLATE3</li>
          <li class="sub-list font-weight-normal py-2">VASE3</li>
        </ul>
      </li>
      <li class="main-list py-3 font-weight-bold">
        Blog
      </li>
      <li class="main-list py-3 font-weight-bold">
        Contact
      </li>
    </ul>
  </div>

  <%- contents %>

  <footer class="footer">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-content-center">
      <div class="mb-5 mb-md-0">
        <a class="logo pr-3" href="#">CRAFTsMAN</a>
        <span class="copyRight d-none d-md-block">© 2020. All Rights Reserved.</span>
      </div>
      <div class="mb-5 mb-md-0">
        <ul class="d-flex flex-column flex-md-row m-0 list-unstyled">
          <li class="px-md-2 mb-3 mb-md-0"><a href="#">Purchase Policy</a></li>
          <li class="px-md-2 mb-3 mb-md-0"><a href="#">Privacy Policy</a></li>
          <li class="px-md-2 mb-3 mb-md-0"><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <span class="copyRight d-block d-md-none">© 2020. All Rights Reserved.</span>    
    </div>
  </footer>


  <script src="/assets/js/vendors.js"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="/assets/js/Week6/index.js"></script>
</body>

</html>
