<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../assets/style/Week6/bootstrap.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="../assets/style/Week6/common.css">
  
</head>

<body>
  <header class="header">
    <div class="container p-0 px-md-3">
      <div class="row justify-content-between align-items-center py-3 py-md-4 px-4 px-md-0">
        <div class="hamIcon d-md-none">
          <a href="javascript:;">
            <span class="material-icons text-dark" id="openMenu">menu</span>
          </a>          
        </div>
        <div class="logo">
          <a class="h4" href="./index.html">CRAFTsMAN</a>
        </div>
        <div class="d-md-none">
          <a href="javascript:;"><span class="material-icons text-white">shopping_cart</span></a>
        </div>
        <nav class="nav d-none d-md-block">
          <ul class="menu d-flex flex-row m-0 list-unstyled">
            <li class="menuItem px-4"><a href="./product.html">Product</a></li>
            <li class="menuItem px-4"><a href="javascript:;">Blog</a></li>
            <li class="menuItem px-4"><a href="javascript:;">Contact</a></li>
            <li class="menuItem px-4">
              <a href="javascript:;" data-toggle="modal" data-target="#exampleModal"><span class="material-icons">shopping_cart</span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="mobile-menu bg-white p-3" id="mobileMenu">
    <div class="d-flex justify-content-between">
      <a href="#"><span class="material-icons text-dark" id="closeMenu">keyboard_backspace</span></a>
      <a href="#"><span class="material-icons text-dark">shopping_cart</span></a>
    </div>
    <ul class="list-unstyled">
      <li class="main-list py-3 font-weight-bold">
        Product
        <ul class="list-unstyled mt-3">
          <li class="sub-list font-weight-normal py-2">ALL <span class="align-text-bottom">24</span></li>
          <li class="sub-list font-weight-normal py-2">BOWL<span class="align-text-bottom">10</span></li>
          <li class="sub-list font-weight-normal py-2">CUP<span class="align-text-bottom">8</span></li>
          <li class="sub-list font-weight-normal py-2">PLATE<span class="align-text-bottom">3</span></li>
          <li class="sub-list font-weight-normal py-2">VASE<span class="align-text-bottom">3</span></li>
        </ul>
      </li>
      <li class="main-list py-3 font-weight-bold">
        Blog
      </li>
      <li class="main-list py-3 font-weight-bold">
        Contact
      </li>
    </ul>
  </div>

  <%- contents %>

  <div class="connect">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-md-6">
          <h3 class="title text-white font-weight-bold mb-5">Subscribe for news and special offers!</h3>
          <div class="input-group">
            <input type="text" class="form-control custom-text-input" id="validationTooltipUsername" placeholder="Your email address">
            <div class="input-group-append">
              <span class="btn btn-primary">Subscribe</span>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <footer class="footer">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-content-center">
      <div class="mb-5 mb-md-0">
        <a class="logo pr-3" href="#">CRAFTsMAN</a>
        <span class="copyRight d-none d-md-block">© 2020. All Rights Reserved.</span>
      </div>
      <div class="mb-5 mb-md-0">
        <ul class="d-flex flex-column flex-md-row m-0 list-unstyled">
          <li class="px-md-2 mb-3 mb-md-0"><a href="javascript:;">Purchase Policy</a></li>
          <li class="px-md-2 mb-3 mb-md-0"><a href="javascript:;">Privacy Policy</a></li>
          <li class="px-md-2 mb-3 mb-md-0"><a href="javascript:;">Terms & Conditions</a></li>
        </ul>
      </div>
      <span class="copyRight d-block d-md-none">© 2020. All Rights Reserved.</span>    
    </div>
  </footer>

  <!-- Modal -->
<div class="modal right fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0">
    <div class="modal-content rounded-0 py-4 px-5">
      <div class="modal-header border-0">
        <h5 class="modal-title h3 font-weight-bold" id="exampleModalLabel">
          Cart List
          <span class="align-text-bottom text-primary">3</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">clear</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex">
          <img src="https://images.unsplash.com/photo-1559810087-893a00a35608?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="">
          <div class="">
            <button type="button" class="close">
              <span class="material-icons">clear</span>
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

  <script src="../assets/js/vendors.js"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="../assets/js/Week6/index.js"></script>
</body>

</html>
