// reboot
@import "../BS/functions";
@import "variables";
@import "../BS/mixins";
@import "../BS/reboot";


// grid
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "../BS/mixins/breakpoints";
@import "../BS/mixins/grid-framework";
@import "../BS/mixins/grid";

@import "../BS/grid";
@import "../BS/utilities/display";
@import "../BS/utilities/flex";
@import "../BS/utilities/spacing";
@import "../BS/utilities/borders";
@import "../BS/utilities/text";
@import "../BS/utilities/position";

@import "../BS/type";
@import "../BS/buttons";
@import "../BS/nav";
@import "../BS/images";


.btn-outline-primary{
  background-color: $light;
}
.w-50{ width: 50%;}