@import "_variables.scss";

body{
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  font-size: 16px;
  line-height: 1.3rem;
}

.header, .footer{
  position: sticky;
  background-color: $main-color;
  color: $white;
}

.header{  
  top: 0;
}
.footer{
  bottom: 0;
}

.mainMenu{
  list-style: none;
  a{
    color: $white;
  }
}

.asideMenu{
  max-width: 250px;  
  min-height: calc(100vh - 6rem);
  background-color: $gary;
  .menu{
    list-style: none;
    li{
      margin: 1rem;
    }
  }
}