.header {
  position: fixed;
  width: 100%;
  background-color: rgba($color: $white, $alpha: .6);
  // height: 6rem;
  // padding: 0 5rem;
  z-index: 100;
  .logo{
    font-family: 'Raleway';
    a{
      color: $black;
    }
  }
  .menu{
    list-style: none;
    li{
      padding: 0 2rem;
    }
    a{
      color: $white;
    }
  }
}