@import "../grid.scss";

.header {
  position: fixed;
  width: 100%;
  // background-color: rgba($color: $white, $alpha: .6);
  // height: 6rem;
  // padding: 0 5rem;
  z-index: 100;
  .logo{
    font-family: 'Raleway';
    a{
      color: $black;
      @include pad{
        color: $white;
      }
    }
  }
  .menu{
    list-style: none;
    li{
      padding: 0 2rem;
    }
    a{
      color: $white;
    }
  }
  @include pad{
    .container{
      padding: 0;
    }
    .row{
      margin: 0;
    }
  }
}

.mobile-menu{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .main-list{
    border-bottom: 1px solid $mobile-menu-line-color;
    ul{
      border-top: 1px solid $mobile-menu-line-color;
    }
  }
  .sub-list{
    color: $mobile-menu-line-color;
  }
}