@import "../grid.scss";

.header {  
  width: 100%;
  z-index: 100;
  .logo{
    font-family: 'Raleway';
  }
}

.mobile-menu{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  .main-list{
    border-bottom: 1px solid $mobile-menu-line-color;
    ul{
      border-top: 1px solid $mobile-menu-line-color;
    }
  }
  .sub-list{
    color: $mobile-menu-line-color;
  }
}
