@import "variables_Custom.scss";
@import "grid.scss";
@import "header.scss";
@import "connect.scss";
@import "footer.scss";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}
.material-icons{
  font-family: 'Material Icons';
}
.text-line-through{
  text-decoration:line-through;
}

a{
  color: $black;
  &:hover, &:active{
    color: $main-color;
    text-decoration: none;
    font-weight: bold;
  }
}
.menuItem.active a{
  color: $main-color;
  font-weight: bold;
}

.pageItem{
  display: inline-block;
  &.active a, a:hover{
    color: $main-color;
    text-decoration: underline;
  }
}

.card{
  a{
    &:hover, &:active{
      color: inherit;
      font-weight: inherit;
    }
  }
  .saleMark{
    z-index: 2;
    right: 0;
    font-size: 0.75rem;
  }
}

// 瀑布式排版，pad時兩列
@media only screen and (max-width: 768px) {
  .card-columns {
    column-count: 2 !important;
  }
  .card-columns .card img {
    max-height: 200px;
    object-fit: cover;
  }
}

// 橫向輪播區塊
.carouselList{
  img{
    height: 200px;
    width: auto;
  }
}

//右側出現的 modal
.modal.right{
  .modal-dialog{
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 800px;
    height: 100%;
    transform: translate(10% , 0);
  }
  &.show{
    .modal-dialog{
      transform: translate(0 , 0);
    }
  }
}