.prodDetail{
  .card{
    .saleMark{
      width: 100%;
    }
  }
  .prod-introduction{

  }
  .prod-nameCard{
    right: 0;
    .card-title{}
  }
  .breadcrumb{
    background-color: $white;
  }
  .prod-quantity{
    .prod-quantity-num{}
  }
}