@import "variables_Custom.scss";
@import "../grid.scss";
.header{
  position: fixed;
  @include pad{
    background-color: rgba($color: $black, $alpha: .6);
  }
  .logo{
    a{
      color: $black;
      @include pad{
        color: $white;
      }
    }
  }
  .menu{
    a{
      color: $white;
    }
  }
}

.banner{
  position: relative;
  min-height: 100vh;
  &::after{
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: url("https://images.unsplash.com/photo-1557644978-f61037cfbe49?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") no-repeat center bottom;
    background-size: cover;
    z-index: -1;
    @include pad{
      width: 100%;
    }
  }
  .row {
    min-height: 100vh;
  }
  @include pad{
    text-align: center;
    h1{
      color: $white;
      margin-top: auto;
    }
    h3{
      color: #FFFFFF99;
      margin-bottom: auto;
    }
    .btn{
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
.material{
  .artTitle{
    font-size: 1.5rem;
  }
  article{
    width: 70%;
    @include pad{
      width: 100%;
    }
  }
}
.artDirector{
  background-image: url("https://images.unsplash.com/photo-1579825317824-2cc3aa33f75a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  .row{
    min-height: 400px;
  }
  .slogan{
    font-size: 2rem;
    line-height: 3rem;
  }
}

.header .material-icons{
  color: $white;
}
