@import "../BS/functions";
@import "variables";

body{
  font-family: 'Lato', sans-serif;
  color: $dark;
  line-height: 1.3rem;
}

// 左側選單
.mainMenu{
  min-height: 100vh;
  .authorImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1514794749374-fb67509dbb7f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2000&q=80") no-repeat center;
    background-size: cover;
    
  }
  .authorInfo{}
}

// 客製化表格樣式
.custom-table{
  th{
    border-bottom: 1px solid $dark;
  }
  td{
    padding: 1rem 0;
    border-bottom: 1px solid $secondary;
  }
}